.grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    max-height: auto;
}

.grid-item {
    width: 20px;
    height: 20px;
    flex-grow: 1; 
    min-width: 6%;
    min-width: 6%;
    max-width: 20px; 
    max-height: auto;
}