.grid {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    /* justify-content: space-around; */
    /* align-items: flex-start; */
}

.grid-item {
    max-width: 20px;
    max-height: 20px;
    /* flex-grow: 1;  */
    min-width: 6%;
    min-width: 6%;
    /* max-width: 20px; 
    max-height: auto; */
    flex: 1
}