.grid {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

.grid-item {
    /* height: auto;S */
    /* min-height: 6%; */
    /* min-width: fit-content; */
    min-height: fit-content;
    flex: 0 1 auto;
}